.header .menu {
    display: flex;
    align-items: center;
    gap: 4px;
    list-style: none;
}

.header .menu-item a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    font-weight: 500;
    padding: 6px 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, color 0.2s ease-in-out;
}

.header .menu-item a:hover {
    background-color: var(--color-hover);
}

#footer .menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#footer .menu a {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 4px 0;
    border-radius: 4px;
}
#footer .menu a:hover,
#footer .menu a:active {
    text-decoration: underline;
}

.truncate-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.newsletter-form p {
    position: relative;
}
.newsletter-email {
    width: 100%;
    border: 1px solid #27221e;
    color: #27221e;
    padding: 16px 12px;
    outline: none;
    font-size: 16px;
    line-height: 1;
}
.newsletter-form p::after {
    content: "";
    display: block;
    background-color: #27221e;
    background-image: url("../icons/arrow.svg");
    background-size: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    position: absolute;
    right: 6px;
    top: 6px;
}
.newsletter-submit {
    cursor: pointer;
    width: 42px;
    height: 42px;
    position: absolute;
    right: 6px;
    top: 6px;
    z-index: 1;
    opacity: 0;
}
.newsletter-form .wpcf7-spinner {
    margin: 8px 0 0 0;
    float: right;
}
.newsletter-form .wpcf7-not-valid-tip {
    margin-top: 8px;
}
#footer .wpcf7-response-output {
    margin: 0 !important;
}

.max-w-336px {
    max-width: 336px;
}
.max-w-484px {
    max-width: 484px;
}
.h-866px {
    height: 866px;
}
.lh-normal {
    line-height: normal;
}

.swiper-pagination-bullet {
    background: rgba(217, 217, 217, 0.2);
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background: #ffffff;
}

.collection-pagination-bullet {
    background: rgba(217, 217, 217, 0.2);
    opacity: 1;
}
.collection-pagination-bullet-active {
    background: #ffffff;
}

/* Hide scrollbar for all scrollable thumbnails stories*/
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Hide scrollbar for all scrollable thumbnails main collection */
.custom-scroll-hide::-webkit-scrollbar {
    display: none;
}
.custom-scroll-hide {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none; /* Firefox */
}

.mobile-nav-menu a {
    display: block;
    padding: 8px 0;
    color: #000000 !important;
    text-decoration: none;
    border-bottom: 1px solid #eee;
}

.mobile-nav-menu a:hover {
    color: #666;
    background-color: #f9f9f9;
    padding-left: 10px;
    transition: all 0.2s ease;
}

.mobile-nav-menu li:last-child a {
    border-bottom: none;
}

#mobile-menu {
    transition: all 0.3s ease;
}

.mobile-nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* WooCommerce Single Page */
.hy-variation-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.hy-variation-button {
    font-size: 16px;
    /* padding: 7px 12px; */
    border-radius: 4px;
    border: 1px solid #8b8b8b;
    cursor: pointer;
    transition: 0.3s;
    width: 32px;
    height: 32px;
}
.hy-variation-button:hover,
.hy-variation-button.selected {
    background-color: #000;
    color: #fff;
    border-color: #000;
}
.variations {
    width: 100%;
    margin-bottom: 16px;
}
.variations tr {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: start;
}
.variations .value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.woocommerce-variation-price {
    margin-bottom: 16px;
    font-size: 22px;
}
.price:has(ins) del {
    font-size: 16px;
}
.price ins {
    text-decoration: none;
}

/* WooCommerce Add to Cart Button */
.single_add_to_cart_button,
.wc-block-components-button {
    background-color: #000;
    color: #fff !important;
    font-weight: 500;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease !important;
}
.wc-block-components-checkout-place-order-button,
.wc-block-cart__submit-button,
.single_add_to_cart_button {
    padding: 12px 132px;
}
.wc-block-components-button[aria-disabled="true"],
.single_add_to_cart_button.disabled {
    cursor: not-allowed;
    opacity: 0.6;
}
.single_add_to_cart_button:hover,
.wc-block-components-button:hover {
    transform: scale(1.05);
}
.single_add_to_cart_button.disabled:hover {
    transform: scale(1);
}

/* YITH Wishlist */
.wishlist-title-container h2 {
    font-size: 36px;
    font-weight: medium;
}
.yith-add-to-wishlist-button-block {
    margin: 0 !important;
}
.my-wishlist-btn svg {
    width: 20px !important;
    height: 20px !important;
}
.my-wishlist-btn .yith-wcwl-add-to-wishlist-button {
    gap: 6px !important;
}
.hover-icons {
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.image-container:hover .hover-icons {
    opacity: 1;
    transform: translateY(0);
}

/* YITH */
.yith-text-none .yith-wcwl-add-to-wishlist-button__label {
    display: none;
}
.yith-text-none svg {
    width: 20px !important;
    height: 20px !important;
    stroke-width: 2px;
    stroke: #000;
}
.yith-wcwl-add-to-wishlist-button--added {
    fill: #000 !important;
}

@media screen and (max-width: 640px) {
    .banner-pagination
        .custom-pagination
        .swiper-pagination-clickable
        .swiper-pagination-bullets
        .swiper-pagination-horizontal {
        display: flex;
    }

    .custom-pagination .swiper-pagination-bullet {
        width: 50px;
        height: 4px;
    }
    .custom-pagination .swiper-pagination-bullet-active {
        width: 50px;
    }
}

@media screen and (max-width: 450px) {
    .newsletter-email {
        width: 66%;
    }
    .newsletter-form p::after {
        right: 160px;
    }
}
@media screen and (max-width: 450px) {
    .newsletter-email {
        width: 100%;
    }
    .newsletter-form p::after {
        right: 6px;
    }
}
